/* - - -  - - -  - - -  - - -  - - - RESET - - -  - - -  - - -  - - -  - - - */

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scrollbar-width: thin;
    scrollbar-color: cyan yellow;
}

html, body {
    margin: 0;
    padding: 0;
}

body {}

/* - - -  - - -  - - -  - - -  - - - RESET - - -  - - -  - - -  - - -  - - - */

/* - - -  - - -  - - -  - - -  - - - GLOBAL CUSTOM PROPS - - -  - - -  - - -  - - -  - - - */

html {
    --transition-0: 75ms;
    --transition-1: 125ms;
    --transition-2: 200ms;
}

/* - - -  - - -  - - -  - - -  - - - GLOBAL CUSTOM PROPS - - -  - - -  - - -  - - -  - - - */

.img-container {
    margin-inline: auto;
    width: 100%;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: peachpuff hotpink;
    cursor: pointer;
}

img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    display: block;
}

.img-container.full-screen {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #111111f5;
}

.img-container.full-screen>img {
    object-fit: contain;
}

body.full-screen {
    overflow: hidden;
}

/* - - -  - - -  - - -  - - -  - - - GRID - - -  - - -  - - -  - - -  - - - */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
}

.grid .grid {
    width: 100%;
    height: 100%;
    position: absolute;
}

.grid>.img-container:nth-child(3) {
    grid-column: span 2;
}

.grid>.img-container:nth-child(6) {
    grid-column: span 3;
    grid-row: span 1;
}

/* - - -  - - -  - - -  - - -  - - - GRID - - -  - - -  - - -  - - -  - - - */

/* - - -  - - -  - - -  - - -  - - - SHAPES - - -  - - -  - - -  - - -  - - - */

.square {
    --width: 1px;
    --bias: 2px;
    --mult: 2;
    border: var(--width) black dashed;
    transition: border-width var(--transition-0), border-style var(--transition-2);
}

.full-screen .grid > .square{
    display: none;
}

/* - - -  - - -  - - -  - - -  - - - SHAPES - - -  - - -  - - -  - - -  - - - */

/* - - -  - - -  - - -  - - -  - - - INTERACTIONS - - -  - - -  - - -  - - -  - - - */

.grid .grid:hover .square {
    border-width: calc(var(--width) + var(--bias));
}

.square:hover {
    border-style: dotted;
    border-width: calc(var(--width) + (var(--bias) * var(--mult))) !important;
}

/* - - -  - - -  - - -  - - -  - - - INTERACTIONS - - -  - - -  - - -  - - -  - - - */